@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto&family=Space+Mono&display=swap');

body {
  margin: 0;
  font-family: 'DotGothic16', sans-serif, 'Roboto', sans-serif, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  font-size: 0.875rem;
  overflow: hidden;
  background-color: #2e028d;
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: #707ea8;
  --c2: #b03249;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.confetto {
  position: absolute;
  left: 50%;
  top: 40%;
}
.gameboard {
  height: 100vh;
  width: 100vw;
  border: solid 7px #f8eaaf;
  /* border: solid 7px #ff0000; */
}

.banner {
  display: flex;
  justify-content: center;
  height: 11%;
  width: 100vw;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
}
.iconic {
  margin: 1rem;
  padding: 2px 5px 4px;
  width: 6rem;
  height: 2.3rem;
  background-color: #f8eaaf;
  border: 3px solid #c46404;
  /* border: 3px solid #ff0000; */
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 5px 3px 2px black;
}
.iconic:last-child {
  padding: 0px 4px 6px;
}

.iconic p {
  font-size: 1.4rem;
  font-family: 'DotGothic16', sans-serif;
  color: #2e028d;
}
.icon {
  background-color: none;
  font-size: 1.6rem;
  color: #2e028d;
}
@media screen and (min-width: 650px) {
  .gameboard {
    border: solid 10px #f8eaaf;
  }

  .banner {
    height: 16%;
    width: 100vw;
    padding: 0.5rem 1rem;
  }
  .iconic {
    margin: 1rem;
    padding: 2px 5px 4px;
    width: 8rem;
    height: 2.7rem;
    letter-spacing: 1px;
  }

  .iconic p {
    font-size: 1.6rem;
    font-weight: 600;
    color: #2e028d;
  }
  .icon {
    font-size: 2rem;
    color: #2e028d;
  }
}
@media screen and (min-width: 1400px) {
  .banner {
    height: 18%;
    padding: 1rem 1rem;
  }
}

.toad {
  height: 120px;
  width: 120px;
  position: absolute;
  left: -150px;
  top: 280px;
  transform: translateX(0);
  opacity: 1;
  transition: all 0.3s linear;
  z-index: 10;
}

.toad-victory {
  transform: translate(120px) rotate(0.1turn);
}

.vicmsg {
  height: 40px;
  width: 150px;
  position: absolute;
  color: #f8eaaf;
  font-size: 2rem;
  font-weight: 500;
  left: -180px;
  top: 230px;
  transform: translateX(0);
  background-color: #2e028d;
  border-radius: 20%;
  opacity: 1;
  z-index: 10;
}

@media screen and (min-width: 650px) {
  .toad {
    height: 150px;
    width: 150px;
    transition: all 0.3s linear;
  }

  .toad-victory {
    transform: translate(110px) rotate(0.1turn);
  }
  .vicmsg {
    transition: all 0.3s linear;
  }
  .vicmsg-transition {
    transform: translate(200px);
  }
}
@media screen and (min-width: 960px) {
  .vicmsg-transition {
    transform: translate(240px);
  }
}
@media screen and (min-width: 1200px) {
  .vicmsg {
    background-color: transparent;
  }
}

.memory-game {
  width: 100%;
  height: 450px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
  perspective: 1000px;
}
.card-game {
  background-color: transparent;
  width: 62px;
  height: 75px;
  border: 1px white solid;
  border-radius: 6px;
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}

.card-game img {
  height: 100%;
  width: 100%;
}

.card {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 10px 5px 5px black;
  :hover {
    outline: 10px ridge red;
    outline-offset: 6px;
    border-radius: 2px;
  }
}

.flip {
  transform: rotateY(180deg);
}

.back-face {
  background-color: transparent;
  transform: rotateY(180deg);
}
@media screen and (min-width: 650px) {
  .memory-game {
    width: 630px;
    height: 500px;
    gap: 20px;
    perspective: 1000px;
  }
  .card-game {
    width: 82px;
    height: 110px;
    border: 1px white solid;
    border-radius: 6px;
  }

  .card {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 10px 5px 5px black;
  }
}
@media screen and (min-width: 960px) {
  .memory-game {
    width: 720px;
    height: 500px;
    gap: 25px;
    perspective: 1000px;
  }
  .card-game {
    width: 90px;
    height: 120px;
    border: 1px white solid;
    border-radius: 6px;
  }
}
@media screen and (min-width: 1400px) {
  .memory-game {
    width: 860px;
    height: 650px;
    gap: 40px;
  }
}

/* border animation */
@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}
.gamewon {
  border: 10px solid;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  animation: borderRotate var(--d) linear infinite forwards;
  transition: 0.2s;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}
