body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  font-size: 0.875rem;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gameboard {
  height: auto;
  width: 100vw;
  background-color: #2e028d;
  /* border: red solid 8px; */
}

.banner {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 19%;
  width: 100vw;
  padding: 1rem;
}
.iconic {
  margin: 1rem;
  padding: 2px 5px 4px;
  width: 8rem;
  height: 2.5rem;
  background-color: #f8eaaf;
  border: 3px solid #c46404;
  cursor: pointer;
  border-radius: 2px;
}

.iconic p {
  font-size: 1.6rem;
  color: #2e028d;
}
.icon {
  background-color: none;
  font-size: 2rem;
  color: #2e028d;
}
@media screen and (min-width: 768px) {
}

.memory-game {
  width: 720px;
  height: 540px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  perspective: 1000px;
}
.card-game {
  width: 90px;
  height: 120px;
  border: 1px white solid;
  border-radius: 6px;
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}

.card-game img {
  height: 100%;
  width: 100%;
}

.card {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 10px 5px 5px black;
  &.back-face {
    transform: rotateY(180deg);
  }
  :hover {
    outline: 10px ridge red;
    outline-offset: 6px;
    border-radius: 2px;
  }
}

.flip {
  transform: rotateY(180deg);
}

/* .card-won {
  visibility: hidden;
} */
