body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  height: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e028d;
}

body {
  font-family: system-ui;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 20%;
  width: 100vw;
  padding: 1rem;
}
.icon {
  padding: 1rem;
  margin: 1rem;
  width: 10rem;
  height: 1.5rem;
  color: black;
  background-color: none;
}

.memory-game {
  width: 720px;
  height: 580px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  perspective: 1000px;
}
.card-game {
  width: 90px;
  height: 120px;
  border: 1px white solid;
  border-radius: 6px;
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}

.card-game img {
  height: 100%;
  width: 100%;

  /* margin: 10px; */
}

.card {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;

  &.back-face {
    transform: rotateY(180deg);
  }
  :hover {
    outline: 10px ridge red;
    outline-offset: 6px;
    border-radius: 2px;
  }
}

.flip {
  transform: rotateY(180deg);
}

.card-won {
  visibility: hidden;
}
